.container{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 20px auto;
}

.box{

}

.box1{
z-index: 1;
background-color: yellow;
    width: 100px;
    height: 100px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black
}

.box2{
  z-index: 2;
background-color: red;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black
}

.box3{
    z-index: 3;
background-color: green;
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black
}

.box4{
  z-index: 4;
background-color: orange;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    border: 1px solid black
}