.grid_container{
display:grid;
grid-template-columns: auto auto auto;
background-color: crimson;
padding: 10px
}

.grid_item{
background-color: white;
border: 1px solid black;
padding: 20px;
font-size: 30px;
text-align: center;
  }

  .flex_container{
    margin-top:1px;
    display: flex;
    background-color: crimson;
    justify-content: space-between;
  }

  .flex_container > div{
    background-color: blueviolet;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
  }